flask==2.2.2
numpy==1.23.3
opencv-python==4.7.0.72
face-recognition==1.3.0
pandas==1.5.0

#These are the available versions of software in my laptop
#Flask                   3.1.0
#opencv-python           4.11.0.86
#pandas                  2.2.3
#Name: face-recognition  Version: 1.3.0
#Name: numpy  Version: 2.2.3